.header {
  height: auto;
  padding: 0;
}

.header__container {
  padding: 0 16px;
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
}

.header__button_slider {
  justify-self: start;
  font-size: 16px;
}

.header__logo {
  justify-self: center;
}
