@import './base/nullstyle.css';

#root {
  min-height: 100vh;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #fff;
  line-height: 1.3;
  background-color: #1a1a1a;
}

#root._lock {
  overflow: hidden;
}

.App {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

[class*='Container'] {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 15px;
}

main {
  flex: 1 1 auto;
}
